doctype html
html
  - selected = public.works._data.find(function (w) { return w.name == current.source; } );
  - url = '/works/' + selected.name;
  - imageBaseUrl = '/images/works/' + selected.name + '_';
  head
    != partial('../_shared/head', { title: selected.title, image: imageBaseUrl + '1.jpg', url: url } )
  body
    #page-work
      nav#nav-bar
        .g-wide-6-24.g-1-4
          != partial('../_shared/haiiro_icon', { size: '15', id: 'nav-icon' })
        .g-wide-12-24.g-2-3
          .g-wide-3-4.g-20-24
            p.title= selected.title
          .g-wide-1-4.g-4-24
            p.year= selected.published_year
      article
        section#images
          .g-wide-6-24.g-1-24
          .g-wide-12-24.g-22-24
            #image-list
            if selected.video
              iframe.video(width="100%", src= selected.video, frameborder="0", allowfullscreen)
        section#description
          .g-wide-6-24.g-1-24
          .g-wide-12-24.g-11-12
            p.content!= selected.description.replace(/\n/g, "<br />")
            if selected.role
              h2 Role:
              p= selected.role
            if selected.link
              h2 Link:
              p
                a(href= selected.link, target= '_blank')= selected.link

      != partial('../_shared/footer')

script.
  (function() {
    var adjustScreenHeight = function() {
      var lackHeight = window.innerHeight - u('footer').size().top - u('footer').size().height;
      var footerTopPadding = lackHeight > 0 ? lackHeight : 150;
      u('footer').attr('style', 'padding-top: ' + footerTopPadding + 'px;');
    };

    var imageLoadedCount = 0;
    var images = []
    for (var i = 1; i <= #{selected.image_count}; i++) {
      var im = new Image();
      im.onload = function() { imageLoadedCount++; };
      im.src = '#{imageBaseUrl}' + i + '.jpg';
      images.push(im);
    }
    var showImages = function(ims) {
      if (ims.length == 0) {
        u('#description, footer, iframe.video').addClass('show');
        window.onresize = function() {
          if (window.innerWidth < 768) return;
          adjustScreenHeight();
        }
        adjustScreenHeight();
        return;
      }
      else {
        setTimeout(function() {
          var im = ims.shift();
          u('#image-list').append(u('<img />').attr('src', im.src));
          showImages(ims);
        }, 300);
      }
    };

    u('#nav-icon').on('click', function(e) {
      ga('send', 'event', 'haiiro-icon', 'click', 'toIndex');
      if (document.referrer.startsWith(window.location.origin)) {
        window.history.back();
      } else {
        window.open('/', '_self');
      }
    });

    h = new HaiiroIcon('nav-icon', "#{selected.colors.join(",")}".split(","));
    h.randomPaintStart("#{selected.colors}".split(','), function() {
      return imageLoadedCount == #{selected.image_count};
    }, function() {
      showImages(images);
    });

    hookPaintings = u('a.paint, svg.haiiro-icon#nav-icon');
    hookPaintings.on('mouseover', function(e) {
      h.paint(u(this).data('colors').split(','));
    }).on('mouseleave', function(e) {
      h.paintWithDefault();
    });
    // for mobile browser
    if (!!('ontouchstart' in window)) hookPaintings.off('mouseover mouseleave')
  })();
